<template>
  <card class="card">
    <div>
      <form>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Product Name</p>
            <input type="text" class="form-control" v-model="product_name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Product Price</p>
            <input type="number" class="form-control" min="0" v-model="product_price">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Product Photo</p>
            <input type="file" @change="previewImage" accept="image/*">
          </div>
        </div>
        <div>
          <p>Progress: {{uploadValue.toFixed()+"%"}}
            <progress id="progress" :value="uploadValue" max="100"></progress> </p>
        </div>
        <br>
        <div v-if="imageData!=null">
          <button @click="onUpload" class="btn btn-round btn-outline-info">Upload</button>
          <br>
          <br>
          <img class="preview" :src="picture" height="360">
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info" @click="addProduct(product_name, product_price, picture)">
            Add Product
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  import firebase from 'firebase';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        product_name: '',
        product_price: '',
        product_photo: '',
        imageData: null,
        picture: null,
        uploadValue: 0,
      }
    },
    components: {},
    methods: {
      previewImage(event) {
        this.uploadValue = 0;
        this.picture = null;
        this.imageData = event.target.files[0];
      },
      onUpload() {
        this.picture = null;
        const storageRef = firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
        storageRef.on(`state_changed`, snapshot => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          }, error => {
            console.log(error.message)
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              this.picture = url;
            });
          }
        );
      },
      async addProduct(product_name, product_price, picture) {
        if (product_name != "" && product_price != "" && picture != null) {
          const productData = {
            product_name: product_name,
            product_price: product_price,
            product_photo: picture
          }
          const router = new VueRouter
          console.log(productData);
          axios.post('http://localhost:3000/product', productData)
            .then((response) => {
              console.log(response.data);
              alert("New product added!")
              router.push("manageproduct")
              location.reload();
            })
            .catch((error) => {
              console.log(error);
              alert('Product already exist!')
            });
        } else {
          alert("Please fill in all the information and upload photo!")
        }
      }
    }
  };

</script>
<style>
</style>
