<template>
  <card class="card">
    <div>
      <form>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Store Name</p>
            <input type="text" class="form-control" v-model="name_eng">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Store Address</p>
            <input type="text" class="form-control" min="0" v-model="address_eng">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Latitude</p>
            <input type="text" class="form-control" min="0" v-model="latitude">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Longitude</p>
            <input type="text" class="form-control" min="0" v-model="longitude">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Store Photo</p>
            <input type="file" @change="previewImage" accept="image/*">
          </div>
        </div>
        <div>
          <p>Progress: {{uploadValue.toFixed()+"%"}}
            <progress id="progress" :value="uploadValue" max="100"></progress> </p>
        </div>
        <div v-if="imageData!=null">
          <button @click="onUpload" class="btn btn-round btn-outline-info">Upload</button>
          <br>
          <br>
          <img class="preview" :src="picture" height="360">
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info" @click="addStore(name_eng, address_eng, latitude, longitude, picture)">
            Add Store
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  import firebase from 'firebase';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        name_eng: '',
        address_eng: '',
        latitude: '',
        longitude: '',
        imageData: null,
        picture: null,
        uploadValue: 0,
      }
    },
    components: {},
    methods: {
      previewImage(event) {
        this.uploadValue = 0;
        this.picture = null;
        this.imageData = event.target.files[0];
      },
      onUpload() {
        this.picture = null;
        const storageRef = firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
        storageRef.on(`state_changed`, snapshot => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          }, error => {
            console.log(error.message)
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              this.picture = url;
            });
          }
        );
      },
      async addStore(name_eng, address_eng, latitude, longitude, picture) {
        if (name_eng != "" && address_eng != "" && latitude != "" && longitude != "" && picture != null) {
          const storeData = {
            name_eng: name_eng,
            address_eng: address_eng,
            latitude: latitude,
            longitude: longitude,
            storephoto: picture
          }
          const router = new VueRouter
          console.log(storeData);
          axios.post('http://localhost:3000/store', storeData)
            .then((response) => {
              console.log(response.data);
              alert("New store added!")
              router.push("managestore")
              location.reload();
            })
            .catch((error) => {
              console.log(error);
              alert("Store already existed!")
            });
        } else {
          alert("Please fill in all the information and upload photo!")
        }
      }
    }
  };

</script>
<style>
</style>
