<template>
  <card class="card">
    <div>
      <form>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Old Password</p>
            <input :type="passwordVisible ? 'text' : 'password'" class="form-control" placeholder="Old Password"
              v-model="old_password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">New Password</p>
            <input :class='{valid:passwordValidation.valid}' :type="passwordVisible ? 'text' : 'password'"
              v-model="new_password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Re-Enter New Password</p>
            <input :type="passwordVisible ? 'text' : 'password'" v-model.lazy='checkPassword' class="form-control"
              placeholder="Re-Enter Password">
          </div>
          <button class="visibility btn btn-neutral" tabindex='-1' @click='togglePasswordVisibility'
            :arial-label='passwordVisible ? "Hide password" : "Show password"'>
            <i>{{ passwordVisible ? "Hide password" : "Show password" }}</i>
          </button>
        </div>
        <br>
        <transition name="hint" appear>
          <div v-if='passwordValidation.errors.length > 0 && !submitted' class='hints'>
            <h5>Password Requirements</h5>
            <p class="text-muted" v-for='error in passwordValidation.errors'>{{error}}</p>
          </div>
        </transition>
        <div class="matches" v-if='notSamePasswords'>
          <p class="text-muted">Passwords don't match.</p>
        </div>
        <div class="text-center">
          <input type="hidden" v-model="Account._id">
          <input type="hidden" v-model="Account.account_username">
          <input type="hidden" v-model="Account.account_password">
          <input type="hidden" v-model="Account.account_email">
          <input type="hidden" v-model="Account.account_role">
          <button class="btn btn-round btn-block btn-outline-info" @click="changePassword(
            Account._id, Account.account_username, Account.account_password, 
            Account.account_email, Account.account_role, old_password, new_password)"
            v-if='passwordsFilled && !notSamePasswords && passwordValidation.valid'>
            Update Password
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>

<script>
  import axios from 'axios';
  import VueRouter from 'vue-router';
  export default {
    data() {
      return {
        rules: [{
            message: 'One lowercase letter required.',
            regex: /[a-z]+/
          },
          {
            message: "8 characters minimum.",
            regex: /.{8,}/
          },
          {
            message: "One number required.",
            regex: /[0-9]+/
          }
        ],
        account_username: '',
        account_password: '',
        account_email: '',
        account_role: '',
        old_password: '',
        new_password: '',
        checkPassword: '',
        passwordVisible: false,
        submitted: false,
        Account: []
      };
    },
    mounted() {
      console.log(localStorage.getItem('account_id'))
      axios.get('http://localhost:3000/account/' + localStorage.getItem('account_id'))
        .then((response) => {
          console.log(response.data);
          this.Account = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    methods: {
      changePassword(_id, account_username, account_password, account_email, account_role, old_password, new_password) {
        const id = _id;
        console.log(id)
        axios.post('http://localhost:3000/account/cpver', {
            account_username,
            old_password
          })
          .then((response) => {
            console.log(response)
            const profileData = {
              account_username: account_username,
              account_password: new_password,
              account_email: account_email,
              account_role: account_role,
            }
            console.log(profileData)
            axios.put('http://localhost:3000/account/cp/' + id, profileData)
              .then((response) => {
                console.log(response)
                alert('Password updated!')
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch((error) => {
            console.log(error);
            alert('Old password not matching!')
          });
      },
      togglePasswordVisibility() {
        this.passwordVisible = !this.passwordVisible
      }
    },
    computed: {
      notSamePasswords() {
        if (this.passwordsFilled) {
          return (this.new_password !== this.checkPassword)
        } else {
          return false
        }
      },
      passwordsFilled() {
        return (this.new_password !== '' && this.checkPassword !== '')
      },
      passwordValidation() {
        let errors = []
        for (let condition of this.rules) {
          if (!condition.regex.test(this.new_password)) {
            errors.push(condition.message)
          }
        }
        if (errors.length === 0) {
          return {
            valid: true,
            errors
          }
        } else {
          return {
            valid: false,
            errors
          }
        }
      }
    }
  }

</script>
<style>
</style>
