<template>
  <div class="row">
    <div class="col-md-12">
      <card>
        <template slot="header">
          <h4 class="card-title">A Boutea</h4>
          <p class="card-category">State of the art drinks</p>
        </template>
        <br><br><br>
        <div class="content all-icons text-center">
          <div class="md-layout-item md-medium-size-33 md-small-size-100 mx-auto">
            <h4 class="card-title">OUR STORY</h4>
            <br>
            <p class="card-category">
              Want to drink a good cup of tea, often not only lies in the selection
              of high-quality ingredients, but also needs a careful tea making,
              often the use of pure handmade natural tea taste more mellow than
              simply brewed tea taste.
            </p>
            <p class="card-category">
              To drink good tea, you must go to A Boutea.
              This is a tea drink brand originating from Hong Kong.
              It inherits the authentic Hong Kong-style milk tea production process,
              using good water, good tea and good milk as raw materials.
            </p>
            <p class="card-category">
              Brew every cup with heart.
            </p>
          </div>
          <br><br><br><br><br>
          <div class="md-layout-item md-medium-size-33 md-small-size-100 mx-auto">
            <div class="row">
              <div class="col-md-6">
              <img :src="imageteafleaf" alt="Rounded Image" class="rounded" />
              <h4 class="info-title">Fresh Tea Leaf from Taiwan</h4>
              <h5 class="description">100% Taiwan origin direct delivery</h5>
              <h5 class="description">0 Additives and preservatives</h5>
              <p>
                All the teas are delivered directly from Taichung Tea
                Garden, and most of the drinks are based on four kinds of
                teas. For tea lovers, you can try the original tea series,
                including the refreshing Four Seasons Spring, Oolong with
                strong tea flavor, Asam Black Tea and Jade Big Aroma Green
                Tea, a total of four kinds.
              </p>
              </div>
              <br><br><br>
              <div class="col-md-6">
              <img :src="imagebubble" alt="Rounded Image" class="rounded"/>
              <h4 class="info-title">Handmade bubble</h4>
              <h5 class="description">100% Brown sugar pearls are fried by hand</h5>
              <h5 class="description">0 Additives and preservatives</h5>
              <p>
                Our black sugar pearls are made with authentic ancient
                methods, using fresh black sugar powder. After more
                than an hour of slow manual cooking, without any
                additives, the black sugar pearls produced are thick
                and fresh milk, rich in milk flavor, mixed with a light
                brown sugar flavor, and the pearl Q is pleasant and
                refreshing.
              </p>
              </div>
            </div>
          </div>
        </div>
      </card>
    </div>

  </div>
</template>
<script>
  export default {
    data() {
      return {
        imageteafleaf: require("@/assets/img/tealeaf.jpg"),
        imagebubble: require("@/assets/img/bubble.jpg")
      }
    }
  };

</script>
<style>
</style>
