<template>
    <card class="card">
      <!--login form -->
      <div>
        <br><br>
        <div class="row">
          <div class="col-md-12 ">
            <input type="text" class="form-control" placeholder="User Name" v-model="account_username">
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-12">
            <input type="password" class="form-control" placeholder="Password" v-model="account_password">
          </div>
        </div>
        <br><br>
        <div class="text-center col-md-12">
          <button class="btn btn-round btn-block btn-outline-info" @click="login(account_username, account_password)">Login</button>
        </div>
        <br>
        <div class="text-center col-md-12">
            <button class="btn btn-round btn-block btn-outline-info" @click="toRegister()">Register</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <br><br>
    </card>
</template>

<script>
  import axios from 'axios';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        account_username: '',
        account_password: '',
      }
    },
    methods: {
      async login(account_username, account_password) {
        const router = new VueRouter
        axios.post('http://localhost:3000/account/login', {
            account_username,
            account_password
          })
          .then((response) => {
            alert("Login successful");
            localStorage.setItem('account_id', response.data._id);
            localStorage.setItem('username', response.data.account_username);
            localStorage.setItem('role', response.data.account_role);
            router.push("home")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            switch (error.response.status) {
              case 400:
                alert("Invalid password!");
                break;
              case 401:
                alert("Invalid user name!");
                break;
              case 402:
                alert("Please enter vaild username and password!");
                break;
              default:
                alert("Please enter valid username and password!");
                break;
            }
          });
      },
      async toRegister(){
        const router = new VueRouter
        router.push("register")
        location.reload();
      }
    }
  };

</script>
<style>
</style>
