<template>
  <card class="card" title="Manage Store">
    <div>
      <form>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Store Name</p>
            <input type="text" class="form-control" v-model="Store.name_eng">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Store Address</p>
            <input type="text" class="form-control" v-model="Store.address_eng">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Longitude</p>
            <input type="text" class="form-control" v-model="Store.longitude">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Latitude</p>
            <input type="text" class="form-control" v-model="Store.latitude">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Product Photo</p>
            <input type="file" @change="previewImage" accept="image/*">
          </div>
        </div>
        <div>
          <p>Progress: {{uploadValue.toFixed()+"%"}}
            <progress id="progress" :value="uploadValue" max="100"></progress> </p>
        </div>
        <div v-if="imageData!=null">
          <button @click="onUpload" class="btn btn-round btn-outline-info">Upload</button>
          <br>
          <br>
          <img class="preview" :src="picture" height="360">
        </div>
        <br>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Current Store Photo</p>
            <a :href="Store.storephoto">{{Store.storephoto}}</a>
            <br>
            <img :src="Store.storephoto" width="270" height="360">
          </div>
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info"
            @click="updateStore(Store._id, picture, Store.name_eng, Store.address_eng, Store.longitude, Store.latitude, Store.storephoto)">
            Update Store Information
          </button>
        </div>
        <input type="hidden" v-model="Store._id">
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  import firebase from 'firebase';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        Store: [],
        imageData: null,
        picture: null,
        uploadValue: 0,
        temp_photo: ''
      }
    },
    mounted() {
      axios.get('http://localhost:3000/store/' + localStorage.getItem('store_id'))
        .then((response) => {
          console.log(response.data);
          this.Store = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    methods: {
      previewImage(event) {
        this.uploadValue = 0;
        this.picture = null;
        this.imageData = event.target.files[0];
      },
      onUpload() {
        this.picture = null;
        const storageRef = firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
        storageRef.on(`state_changed`, snapshot => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          }, error => {
            console.log(error.message)
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              this.picture = url;
            });
          }
        );
      },
      updateStore(_id, picture, name_eng, address_eng, longitude, latitude, storephoto) {
        //Check is there a new photo uploaded
        //If no new photo
        if (picture == null) {
          this.temp_photo = storephoto;
          console.log("No new photo received")
          //Else there is new photo
        } else {
          this.temp_photo = picture;
          console.log("New photo received");
        }
        const storeData = {
          name_eng: name_eng,
          address_eng: address_eng,
          longitude: longitude,
          latitude: latitude,
          storephoto: this.temp_photo
        }
        console.log(storeData);
        const router = new VueRouter
        const id = _id;
        console.log(id);
        axios.put('http://localhost:3000/store/' + id, storeData)
          .then((response) => {
            console.log(response);
            alert('Store Information Updated!')
            router.push("managestore")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    }
  };
</script>
<style>
</style>
