<template>
  <div>
    <button class="form-control" @click="toAddStore()">Add a Store</button>
    <br>
    <table class="table table-borderes">
      <thead>
        <tr>
          <th class="text-center">Store Name</th>
          <th class="text-center">Store Address</th>
          <th class="text-center">Latitude</th>
          <th class="text-center">Longitude</th>
          <th class="text-center">Curret Photo</th>
          <th class="text-center">Edit Store</th>
          <th class="text-center">Delete Store</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="store_alias in Store">
          <td class="text-center"> {{ store_alias.name_eng }}</td>
          <td class="text-center"> {{ store_alias.address_eng }}</td>
          <td class="text-center"> {{ store_alias.latitude }}</td>
          <td class="text-center"> {{ store_alias.longitude }}</td>
          <td class="text-center"> <img :src="store_alias.storephoto" width="180" height="240"></td>
          <td class="text-center"><button class="form-control" @click="editData(store_alias.name_eng)">Edit
              Store</button></td>
          <td class="text-center"><button class="form-control" @click="deleteData(store_alias._id)">Delete
              Store</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  import axios from 'axios';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        Store: [],
      }
    },
    mounted() {
      axios.get('http://localhost:3000/store')
        .then((response) => {
          console.log(response.data);
          this.Store = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    components: {},
    methods: {
      async toAddStore(){
        const router = new VueRouter
        router.push("addstore")
        location.reload();
      },
      async editData(name_eng) {
        const getstore = {
          name_eng: name_eng
        }
        const router = new VueRouter
        console.log(getstore)
        axios.post('http://localhost:3000/store/getstore', getstore)
          .then((response) => {
            console.log(response.data);
            localStorage.setItem('store_id', response.data._id);
            router.push("managestorepage")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      },
      async deleteData(_id) {
        if (confirm('Delete Store?')) {
        const delstore = {
          id: _id
        }
        const router = new VueRouter
        console.log(delstore.id)
        axios.delete('http://localhost:3000/store/' + delstore.id)
          .then((response) => {
            console.log(response.data);
            router.push("managestore")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
          } else {
          router.push('managestore');
          location.reload();
        }
      }
    }
  };

</script>
<style>
</style>
