<template>
  <div>
    <button class="form-control" @click="toAddProduct()">Add a Product</button>
    <br>
    <table class="table table-borderes">
      <thead>
        <tr>
          <th class="text-center">Product Name</th>
          <th class="text-center">Price</th>
          <th class="text-center">Curret Photo</th>
          <th class="text-center">Edit Product</th>
          <th class="text-center">Delete Product</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product_alias in Product">
          <td class="text-center"> {{ product_alias.product_name }}</td>
          <td class="text-center"> {{ product_alias.product_price }}</td>
          <td class="text-center"> <img :src="product_alias.product_photo" width="180" height="240"></td>

          <td class="text-center"><button class="form-control" @click="editData(product_alias.product_name)">Edit
              product</button></td>
          <td class="text-center"><button class="form-control" @click="deleteData(product_alias._id)">Delete
              product</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  import axios from 'axios';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        Product: [],
      }
    },
    mounted() {
      axios.get('http://localhost:3000/product')
        .then((response) => {
          console.log(response.data);
          this.Product = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    components: {},
    methods: {
      async toAddProduct() {
        const router = new VueRouter
        router.push("addproduct")
        location.reload();
      },
      async editData(product_name) {
        const getproduct = {
          product_name: product_name
        }
        const router = new VueRouter
        console.log(getproduct)
        axios.post('http://localhost:3000/product/getproduct', getproduct)
          .then((response) => {
            console.log(response.data);
            localStorage.setItem('product_id', response.data._id);
            router.push("manageproductpage")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      },
      async deleteData(_id) {
        if (confirm('Delete Product?')) {
          const delproduct = {
            id: _id
          }
          const router = new VueRouter
          console.log(delproduct.id)
          axios.delete('http://localhost:3000/product/' + delproduct.id)
            .then((response) => {
              console.log(response.data);
              router.push("manageproduct")
              location.reload();
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          router.push('manageproduct');
          location.reload();
        }
      }
    }
  };

</script>
<style>
</style>
