<template>
  <card class="card" title="Manage Product">
    <div>
      <form>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Product name</p>
            <input type="text" class="form-control" v-model="Product.product_name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Product price</p>
            <input type="text" class="form-control" v-model="Product.product_price">
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Product Photo</p>
            <input type="file" @change="previewImage" accept="image/*">
          </div>
        </div>
        <div>
          <p>Progress: {{uploadValue.toFixed()+"%"}}
            <progress id="progress" :value="uploadValue" max="100"></progress> </p>
        </div>
        <div v-if="imageData!=null">
          <img class="preview" :src="picture" height="360">
          <br>
          <br>
          <button @click="onUpload" class="btn btn-round btn-block btn-outline-info">Upload</button>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p class="text-muted">Current Product Photo</p>
            <a :href="Product.product_photo">{{Product.product_photo}}</a>
            <br>
            <img :src="Product.product_photo" width="270" height="360">
          </div>
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info"
            @click="updateProduct(Product._id, picture, Product.product_name, Product.product_price, Product.product_photo)">
            Update Product Information
          </button>
        </div>
        <input type="hidden" v-model="Product._id">
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  import firebase from 'firebase';
  import VueRouter from 'vue-router'
  export default {
    name: 'Upload',
    data() {
      return {
        Product: [],
        imageData: null,
        picture: null,
        uploadValue: 0,
        temp_photo: '',
        // old_uploaded: ''
      }
    },
    mounted() {
      axios.get('http://localhost:3000/product/' + localStorage.getItem('product_id'))
        .then((response) => {
          console.log(response.data);
          this.Product = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    methods: {
      previewImage(event) {
        this.uploadValue = 0;
        this.picture = null;
        this.imageData = event.target.files[0];
      },
      onUpload() {
        this.picture = null;
        const storageRef = firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
        storageRef.on(`state_changed`, snapshot => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          }, error => {
            console.log(error.message)
          },
          () => {
            this.uploadValue = 100;
            storageRef.snapshot.ref.getDownloadURL().then((url) => {
              this.picture = url;
            });
          }
        );
      },
      updateProduct(_id, picture, product_name, product_price, product_photo) {
        //Check is there a new photo uploaded
        //If no new photo
        if (picture == null) {
          this.temp_photo = product_photo;
          console.log("No new photo received")
          //Else there is new photo
        } else {
          this.temp_photo = picture;
          console.log("New photo received");
        }
        const productData = {
          product_name: product_name,
          product_price: product_price,
          product_photo: this.temp_photo
        }
        console.log(productData);
        const router = new VueRouter
        const id = _id;
        console.log(id);
        axios.put('http://localhost:3000/product/' + id, productData)
          .then((response) => {
            console.log(response);
            alert('Product information updated!')
            router.push("manageproduct")
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    }
  };

</script>
<style>
</style>
