<template>
  <card class="card">
    <div>
      <form>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Account Username</p>
            <input type="text" class="form-control" v-model="Account.account_username" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Account Email</p>
            <input type="text" class="form-control" v-model="Account.account_email">
          </div>
        </div>
        <input type="hidden" v-model="Account._id">
        <input type="hidden" v-model="Account.account_password">
        <input type="hidden" v-model="Account.account_role">
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info" @click="changeProfile(Account._id, Account.account_username, Account.account_email, Account.account_password, Account.account_role)">
            Update Profile
          </button>
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info" @click="toChangePassword()">
            Change Password
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
          Account: []
      }
    },
    mounted() {
        console.log(localStorage.getItem('account_id'))
      axios.get('http://localhost:3000/account/' + localStorage.getItem('account_id'))
        .then((response) => {
          console.log(response.data);
          this.Account = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    methods:{
    changeProfile(_id, account_username, account_email, account_password, account_role) {
      if(account_email != ""){
      const profileData = {
        account_username: account_username,
        account_email: account_email,
        account_password: account_password,
        account_role: account_role
      }
      const id = _id;
      console.log(profileData);
      console.log(id);
      axios.put('http://localhost:3000/account/' + id, profileData)
      .then((response) => {
        alert("Data updated!")
        location.reload()
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      });
      } else {
        alert("All fields should be filled in!")
      }
    },
    toChangePassword(){
      const router = new VueRouter
      router.push("changepassword")
      location.reload();
    }
  },
  };

</script>
<style>
</style>
