<template>
    <div class="row">
      <div class="col-md-6 col-xl-3" v-for="product_a in Product">
        <div class="numbers" slot="content">
          <p><img :src="product_a.product_photo" alt="" height="360"></p>
          <p>{{product_a.product_name}}</p>
          <p>$ {{product_a.product_price}}</p>
        </div>
      </div>
    </div>
</template>
<script>
  import {
    StatsCard,
    ChartCard
  } from "@/components/index";
  import axios from 'axios';
  export default {
    data() {
      return {
        Product: []
      }
    },
    mounted() {
      axios.get('http://localhost:3000/product')
        .then((response) => {
          console.log(response.data);
          this.Product = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    components: {
      StatsCard,
      ChartCard,
    },
    methods: {
      addToAPI() {
        const newProduct = {
          product_name: this.product.product_name,
          product_price: this.product.product_price,
          product_photo: this.product.product_photo
        }
        console.log(newProduct);
        axios.post('http://localhost:3000/product', newProduct)
          .then((response) => {
            console.log(response);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  };

</script>
<style>
</style>
