<template>
  <card class="card">
    <div>
      <form>
        <div class="row"> 
          <div class="col-md-12">
            <p class="text-muted">Username</p>
            <input type="text" class="form-control" placeholder="Username" v-model="account_username">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Email</p>
            <input type="email" class="form-control" placeholder="Email" v-model="account_email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Password</p>
            <input :class='{valid:passwordValidation.valid}' :type="passwordVisible ? 'text' : 'password'"
              v-model="account_password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">Re-Enter Password</p>
            <input :type="passwordVisible ? 'text' : 'password'" v-model.lazy='checkPassword' class="form-control"
              placeholder="Re-Enter Password">
          </div>
          <button class="visibility btn btn-neutral" tabindex='-1' @click='togglePasswordVisibility'
              :arial-label='passwordVisible ? "Hide password" : "Show password"'>
              <i>{{ passwordVisible ? "Hide password" : "Show password" }}</i>
            </button>
        </div>
        <br>
        <transition name="hint" appear>
          <div v-if='passwordValidation.errors.length > 0 && !submitted' class='hints'>
            <h5>Password Requirements</h5>
            <p class="text-muted" v-for='error in passwordValidation.errors'>{{error}}</p>
          </div>
        </transition>
        <div class="matches" v-if='notSamePasswords'>
          <p class="text-muted">Passwords don't match.</p>
        </div>
        <div class="text-center">
          <button class="btn btn-round btn-block btn-outline-info" @click="registerAccount(account_username, account_email, account_password)"
            v-if='passwordsFilled && !notSamePasswords && passwordValidation.valid'>
            Register Account
          </button>
        </div>

        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
import axios from 'axios';
import VueRouter from 'vue-router';
  export default {
    data() {
      return {
        rules: [{
            message: 'One lowercase letter required.',
            regex: /[a-z]+/
          },
          {
            message: "8 characters minimum.",
            regex: /.{8,}/
          },
          {
            message: "One number required.",
            regex: /[0-9]+/
          }
        ],
        account_username: '',
        account_email: '',
        account_password: '',
        checkPassword: '',
        passwordVisible: false,
        submitted: false
      };
    },
    methods: {
      registerAccount(account_username, account_email, account_password) {
        const router = new VueRouter
        if (account_username != "" && account_email != "" && account_password != "") {
          axios.post('http://localhost:3000/account', {
              account_username,
              account_email,
              account_password
            })
            .then((response) => {
              alert("Account created!")
              router.push('login')
              location.reload()
            })
            .catch((error) => {
              console.log(error);
              alert("Account already exist!");
              location.reload();
            });
        } else {
          alert("Please enter all the fields!")
        }
        console.log(error);
      },
      togglePasswordVisibility() {
        this.passwordVisible = !this.passwordVisible
      }
    },
    computed: {
      notSamePasswords() {
        if (this.passwordsFilled) {
          return (this.account_password !== this.checkPassword)
        } else {
          return false
        }
      },
      passwordsFilled() {
        return (this.account_password !== '' && this.checkPassword !== '')
      },
      passwordValidation() {
        let errors = []
        for (let condition of this.rules) {
          if (!condition.regex.test(this.account_password)) {
            errors.push(condition.message)
          }
        }
        if (errors.length === 0) {
          return {
            valid: true,
            errors
          }
        } else {
          return {
            valid: false,
            errors
          }
        }
      }
    }
  };

</script>
<style>
</style>
