<template>
  <card class="card-map">
    <div class="map">
      <div id="map"></div>
    </div>
  </card>
</template>
<script>
  import axios from 'axios';
  export default {
    name: "Store",
    data() {
      return {
        map: null,
        store_name: [],
        store_address: [],
        store_photo: [],
        latitude: [],
        longitude: [],
        Store: [],
        lat: 22.368333,
        lng: 114.109639
      };
    },
    mounted() {
      axios.get('http://localhost:3000/store')
        .then((response) => {
          console.log(response.data);
          this.Store = response.data;
          console.log(this.Store);
          this.fetchStore(this.Store);
          this.initMap();
          this.setMarker(this.Store);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    methods: {
      fetchStore(Store) {
        for (var i = 0; i < Store.length; i++) {
          this.store_name[i] = Store[i].name_eng;
          this.store_address[i] = Store[i].address_eng;
          this.store_photo[i] = Store[i].storephoto;
          this.latitude[i] = Store[i].latitude;
          this.longitude[i] = Store[i].longitude;
        }
      },
      initMap() {
        this.map = new google.maps.Map(document.getElementById("map"), {
          center: {
            lat: this.lat,
            lng: this.lng
          },
          zoom: 11,
          maxZoom: 20,
          minZoom: 3,
          streetViewControl: false,
          mapTypeControl: false
        });
      },
      setMarker(Store) {
        for (var i = 0; i < Store.length; i++) {
          const marker = new google.maps.Marker({
            position: {
              lat: parseFloat(this.latitude[i]),
              lng: parseFloat(this.longitude[i])
            },
            map: this.map
          });
          const infowindow = new google.maps.InfoWindow({
            content: `
          <div id="content">
            <p><img src="${this.store_photo[i]}" alt="" height="150"></p>
            <p>Store Name: ${this.store_name[i]}</p>
            <p>Store Address: ${this.store_address[i]}</p>
          </div>
        `,
            maxWidth: 350
          });
          marker.addListener("click", () => {
            if (this.infowindow) this.infowindow.close();
            infowindow.open(this.map, marker);
            this.infowindow = infowindow;
          });
        }
      }
    }
  };

</script>
<style>
</style>
