<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link to="/home" name="Home" icon="ti-home" />
        <sidebar-link to="/product" name="Our Product" icon="ti-bag" />
        <sidebar-link to="/maps" name="Our Store" icon="ti-location-pin" />
        <sidebar-link to="/manageproduct" name="Manage Product" icon="ti-view-list-alt" v-if="role == 'admin'" />
        <sidebar-link to="/managestore" name="Manage Store" icon="ti-view-list-alt" v-if="role == 'admin'" />
        <sidebar-link to="/manageprofile" name="Manage Profile" icon="ti-user" v-if="role != false" />
        <sidebar-link to="/login" name="Login" icon="ti-key" v-if="role == false" />
        <sidebar-link to="/logout" name="Logout" icon="ti-key" v-if="role != false" />
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>
      <dashboard-content @click.native="toggleSidebar">
      </dashboard-content>
      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
  import TopNavbar from "./TopNavbar.vue";
  import ContentFooter from "./ContentFooter.vue";
  import DashboardContent from "./Content.vue";
  import MobileMenu from "./MobileMenu";
  import VueRouter from 'vue-router'
  export default {
    data() {
      return {
        username: '',
        role: false
      };
    },
    async created() {
      if (localStorage.getItem('username')) {
        this.username = localStorage.getItem('username')
      }
      if (localStorage.getItem('role')) {
        this.role = localStorage.getItem('role')
      }
    },
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      },
      logout() {
        const router = new VueRouter
        alert("Logout !");
        localStorage.removeItem('account_id');
        localStorage.removeItem('username');
        localStorage.removeItem('role');
        router.push('home');
        location.reload();
      }
    }
  };

</script>
